/* line 1, ../../app/styles/modules/_main.scss */
* {
  font-family: "Lato", sans-serif;
}

/* line 5, ../../app/styles/modules/_main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 10, ../../app/styles/modules/_main.scss */
.page {
  overflow: hidden;
  width: 100%;
  position: absolute;
}

/* Custom page header */
/* line 17, ../../app/styles/modules/_main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Custom page footer */
/* line 24, ../../app/styles/modules/_main.scss */
.footer {
  padding: 200px 0;
  color: #777;
}

/* line 28, ../../app/styles/modules/_main.scss */
.row {
  padding: 44px 0;
}

/* line 31, ../../app/styles/modules/_main.scss */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/* line 1, ../../app/styles/modules/_intro.scss */
.heading {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  opacity: 0;
}
/* line 7, ../../app/styles/modules/_intro.scss */
.heading h1 {
  margin: 0;
  color: #000;
  font-size: 28px;
  font-style: italic;
  line-height: 1.4;
  letter-spacing: 1px;
}

/* line 16, ../../app/styles/modules/_intro.scss */
.next {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
}
/* line 21, ../../app/styles/modules/_intro.scss */
.next:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-right: 6px solid rgba(0, 0, 0, 0.75);
  border-top: 6px solid rgba(0, 0, 0, 0.75);
  box-shadow: 2px -2px 0px 0px rgba(0, 0, 0, 0.75);
  transform: rotate(135deg);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition: bottom 0.35s ease-out;
}
/* line 35, ../../app/styles/modules/_intro.scss */
.next:hover:before {
  bottom: 55px;
}

/* line 41, ../../app/styles/modules/_intro.scss */
.intro-page {
  position: relative;
}
/* line 44, ../../app/styles/modules/_intro.scss */
.intro-page .logo .intro-logo-image {
  margin: 20px auto 60px;
  display: block;
}
/* line 49, ../../app/styles/modules/_intro.scss */
.intro-page .intro {
  background: #fff;
  box-shadow: 0px 15px 41px 5px #000;
  border-bottom: 1px solid green;
  padding-bottom: 0;
}
/* line 54, ../../app/styles/modules/_intro.scss */
.intro-page .intro .wrapper {
  display: table;
}
/* line 57, ../../app/styles/modules/_intro.scss */
.intro-page .intro .intro-image {
  display: table-cell;
  background: url(/images/greg.png) no-repeat center center;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  background-size: cover;
}
/* line 65, ../../app/styles/modules/_intro.scss */
.intro-page .intro .intro-text {
  max-width: 75%;
  padding: 0 10%;
  display: table-cell;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 26px;
}

/* line 76, ../../app/styles/modules/_intro.scss */
.spotlight {
  position: absolute;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0px 15px 41px 5px #000;
  padding-top: 40px;
}
/* line 83, ../../app/styles/modules/_intro.scss */
.spotlight .next {
  bottom: 155px;
}
/* line 86, ../../app/styles/modules/_intro.scss */
.spotlight .spotlight-intro {
  text-align: left;
  margin: 50px auto;
}
/* line 89, ../../app/styles/modules/_intro.scss */
.spotlight .spotlight-intro h1 {
  font-style: italic;
  font-size: 42px;
  margin: 0 auto;
  border-left: 6px solid #ccc;
  padding-left: 20px;
}
/* line 96, ../../app/styles/modules/_intro.scss */
.spotlight .spotlight-intro p {
  font-style: italic;
  font-size: 22px;
  font-family: "Lato", sans-serif;
}
/* line 102, ../../app/styles/modules/_intro.scss */
.spotlight .spot {
  width: 33%;
  float: left;
  position: relative;
  padding: 40px 10px 0;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 109, ../../app/styles/modules/_intro.scss */
.spotlight .spot .spot-wrap {
  position: relative;
  height: 300px;
  width: 100%;
}
/* line 113, ../../app/styles/modules/_intro.scss */
.spotlight .spot .spot-wrap.longwood {
  background: url(/images/longwood-logo.png) no-repeat center center;
  background-size: contain;
}
/* line 117, ../../app/styles/modules/_intro.scss */
.spotlight .spot .spot-wrap.ford {
  background: url(/images/ford-logo.png) no-repeat center center;
  background-size: contain;
}
/* line 121, ../../app/styles/modules/_intro.scss */
.spotlight .spot .spot-wrap.gates {
  background: url(/images/gates-logo.png) no-repeat center center;
  background-size: contain;
}
/* line 126, ../../app/styles/modules/_intro.scss */
.spotlight .spot h2 {
  position: absolute;
  margin: 0;
  text-align: center;
  color: #000;
  font-size: 32px;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 137, ../../app/styles/modules/_intro.scss */
.spotlight .spot img {
  width: 100%;
  object-fit: cover;
}

/* line 143, ../../app/styles/modules/_intro.scss */
.project-index {
  position: absolute;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0px 15px 41px 5px #000;
}
/* line 149, ../../app/styles/modules/_intro.scss */
.project-index .project-intro {
  text-align: left;
  margin: 50px auto;
  border-left: 6px solid #ccc;
  padding-left: 20px;
}
/* line 154, ../../app/styles/modules/_intro.scss */
.project-index .project-intro h1 {
  font-style: italic;
  font-size: 42px;
  margin: 0 auto;
}
/* line 159, ../../app/styles/modules/_intro.scss */
.project-index .project-intro p {
  font-style: italic;
  font-size: 26px;
  font-family: "Lato", sans-serif;
}
/* line 165, ../../app/styles/modules/_intro.scss */
.project-index .p-list {
  overflow-y: scroll;
  height: 6000px;
}
/* line 168, ../../app/styles/modules/_intro.scss */
.project-index .p-list ul {
  list-style-type: none;
  padding: 20px 0;
  margin: 0;
}
/* line 172, ../../app/styles/modules/_intro.scss */
.project-index .p-list ul li {
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  position: relative;
}
/* line 180, ../../app/styles/modules/_intro.scss */
.project-index .p-list ul li h1 {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 10px;
}
/* line 186, ../../app/styles/modules/_intro.scss */
.project-index .p-list ul li .date {
  position: absolute;
  left: 0;
  font-size: 32px;
  color: rgba(204, 204, 204, 0.5);
}
/* line 193, ../../app/styles/modules/_intro.scss */
.project-index .p-list ul li p {
  float: right;
  text-align: right;
}

/* line 3, ../../app/styles/modules/_about.scss */
.p-spotlight .spot-wrap img {
  display: block;
  width: 50%;
  margin: 0 auto 20px;
}