.heading {
	width:100%;
	text-align: center;
	position: absolute;
	top:0;
	opacity: 0;
	h1 {
		margin:0;
		color:#000;
		font-size: 20px;
		font-style: italic;
		line-height: 1.4;
		letter-spacing: 1px;
		@media only screen and (min-width:640px) {
			font-size: 28px;	
		}
	}
}
.next {
	position: absolute;
	bottom:60px;
	left:50%;
	transform:translate(-50%);
	&:before {
	    content: "";
	    display: inline-block;
	    width: 30px;
	    height:30px;
	    border-right: 3px solid rgba(#000,0.75);
	    border-top: 3px solid rgba(#000,0.75);
	    transform: rotate(135deg);
	    -webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
	    transition:bottom 0.35s ease-out;
	    @media only screen and (min-width:640px) {
			border-right: 6px solid rgba(#000,0.75);
	    	border-top: 6px solid rgba(#000,0.75);
		}
	}
	&:hover {
		&:before {
			bottom:55px;

		}
	}
}
.intro-page {
	position: relative;
	.logo {
		.intro-logo-image {
			width:90%;
			max-width: 400px;
			margin:10px auto 20px;
			display: block;
			@media only screen and (min-width:1200px) {
				margin:20px auto 60px;
			}
		}
	}
	.intro {
		background:#fff;
		box-shadow: 0px 15px 41px 5px #000;
		border-bottom: 1px solid green;
		padding-bottom: 0;
		.wrapper {
			display: table;
		}
		.intro-image {
			position: absolute;
			display:table-cell;
			background:url(/images/greg.png) no-repeat center center;
			margin:20px auto;
			width:100%;
			height: 100%;
			opacity: 0.3;
			background-size:cover;
			@media only screen and (min-width:640px) {
				width:300px;
				height:300px;
				position: static;
				opacity: 1;
			}
		}
		.intro-text {
			position: relative;
			z-index: 2;
			max-width:75%;
			padding:0 10%;
			display: table-cell;
			vertical-align: middle;
			font-family: $f-primary;
			font-style: italic;
			font-size: 16px;	
			@media only screen and (min-width:900px) {
				font-size: 26px;	
			}
		}
	}
}
.spotlight {
	position: absolute;
	width: 100%;
	top:0;
	background:#fff;
	box-shadow:0px 15px 41px 5px #000;
	padding-top: 20px;
	@media only screen and (min-width:640px) {
		padding-top: 40px;
	}
	.next {
		bottom:155px;
	}
	.spotlight-intro {
		text-align: left;
		margin: 15px auto;
		@media only screen and (min-width:640px) {
			margin: 50px auto;
		}
		h1 {
			font-style:italic;
			font-size: 22px;
			margin:0 auto;
			border-left:6px solid #ccc;
			padding-left: 20px;
			@media only screen and (min-width:640px) {
				font-size: 42px;	
			}
		}
		p {
			font-style:italic;
			font-size: 16px;
			font-family: $f-primary;
			@media only screen and (min-width:640px) {
				font-size: 22px;	
			}
		}
	}
	.spot {
		width:75%;
		display: block;
		position: relative;
		padding:10px 10px 0;
		box-sizing:border-box;
		overflow: hidden;
		margin:0 auto;
		@media only screen and (min-width:640px) {
			padding:40px 10px 0;
			display: inline-block;
			width:32%;
		}
		.spot-wrap {
			position: relative;
			width:100%;
			height:100px;
			@media only screen and (min-width:640px) {
				height:300px;
			}
			&.longwood {
				background:url(/images/longwood-logo.png) no-repeat center center;
				background-size: contain;
			}
			&.ford {
				background:url(/images/ford-logo.png) no-repeat center center;
				background-size: contain;
			}
			&.gates {
				background:url(/images/gates-logo.png) no-repeat center center;
				background-size: contain;
			}
		}
		h2 {
			position: absolute;
			margin:0;
			text-align: center;
			color:#000;
			font-size: 22px;
			width:90%;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			@media only screen and (min-width:640px) {
				font-size: 32px;	
			}
		}
		img {
			width:100%;
			object-fit:cover;
		}
	}
}
.project-index {
	position: absolute;
	width: 100%;
	top:0;
	background:#fff;
	box-shadow:0px 15px 41px 5px #000;
	padding-top:10px;
	@media only screen and (min-width:640px) {
	}
	.project-intro {
		text-align: left;
		margin: 15px auto;
		border-left:6px solid #ccc;
		padding-left: 20px;
		@media only screen and (min-width:640px) {
			margin: 50px auto;	
		}
		h1 {
			font-style:italic;
			font-size: 22px;
			margin:0 auto;
			@media only screen and (min-width:640px) {
				font-size: 42px;	
			}
		}
		p {
			font-style:italic;
			font-size: 16px;
			font-family: $f-primary;
			@media only screen and (min-width:640px) {
				font-size: 26px;	
			}
		}
	}
	.p-list {
		overflow-y: scroll;
		height:6000px;
		ul {
			list-style-type: none;
			padding:40px 0 40px;
			margin:0;	
			li {
				width:calc(100% - 10px);
				height: 95px;
				padding:0px;
				margin:0 auto;
				border-bottom:1px solid #ccc;
				margin-bottom: 10px;
				position: relative;
				@media only screen and (min-width:640px) {
					height: 50px;
					width:calc(100% - 150px);
				}
				#first {
					padding-top: 20px;
				}
				a {
					color:$c-black;
					text-decoration: none;
				}
				h1 {
					display: inline-block;
					font-size: 14px;
					text-transform: uppercase;
					margin:0 0 5px;
					@media only screen and (min-width:640px) {
						margin: 0 10px;
						font-size: 18px;	
					}
				}
				.date {
					font-size: 18px;
					line-height: 1;
					color:rgba($c-black, 0.4);
					vertical-align: top;
					margin-bottom: 5px;
					display: block;
					@media only screen and (min-width:640px) {
						position: absolute;
						left:-50px;
						font-size: 32px;
						left:-75px;
					}
				}
				p {
					margin:0;
					@media only screen and (min-width:640px) {
						text-align: right;
						float: right;
					}
				}
			}
		}
	}
}