.heading {
	width:100%;
	text-align: center;
	position: absolute;
	top:0;
	opacity: 0;
	h1 {
		margin:0;
		color:#000;
		font-size: 28px;
		font-style: italic;
		line-height: 1.4;
		letter-spacing: 1px;
	}
}

.intro-page {
	position: relative;
	.logo {
		.intro-logo-image {
			margin:20px auto;
			display: block;
		}
	}
	.intro {
		background:#fff;
		box-shadow: 0px 15px 41px 5px #000;
		border-bottom: 1px solid green;
		padding-bottom: 0;
		.wrapper {
			display: table;
		}
		.intro-image {
			display:table-cell;
			background:url(/images/greg.png) no-repeat center center;
			margin:20px auto;
			width:300px;
			height:300px;
			background-size:cover;
		}
		.intro-text {
			max-width:75%;
			padding:0 10%;
			display: table-cell;
			vertical-align: middle;
			font-family: $f-primary;
			font-style: italic;
			font-size: 26px;	
		}
	}
}
.spotlight {
	position: absolute;
	width: 100%;
	top:0;
	background:#fff;
	box-shadow:0px 15px 41px 5px #000;
	padding-top: 40px;
	.spotlight-intro {
		text-align: left;
		margin: 50px auto;
		h1 {
			font-style:italic;
			font-size: 42px;
			margin:0 auto;
			border-left:6px solid #ccc;
			padding-left: 20px;
		}
		p {
			font-style:italic;
			font-size: 22px;
			font-family: $f-primary;
		}
	}
	.spot {
		width:33%;
		float:left;
		position: relative;
		padding:40px 10px 0;
		box-sizing:border-box;
		overflow: hidden;
		.spot-wrap {
			position: relative;
			height:300px;
			width:100%;
			&.longwood {
				background:url(/images/longwood-logo.png) no-repeat center center;
				background-size: contain;
			}
			&.ford {
				background:url(/images/ford-logo.png) no-repeat center center;
				background-size: contain;
			}
			&.gates {
				background:url(/images/gates-logo.png) no-repeat center center;
				background-size: contain;
			}
		}
		h2 {
			position: absolute;
			margin:0;
			text-align: center;
			color:#000;
			font-size: 32px;
			width:90%;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
		}
		img {
			width:100%;
			object-fit:cover;
		}
	}
}
.project-index {
	position: absolute;
	width: 100%;
	top:0;
	background:#fff;
	box-shadow:0px 15px 41px 5px #000;
	.project-intro {
		text-align: left;
		margin: 50px auto;
		border-left:6px solid #ccc;
		padding-left: 20px;
		h1 {
			font-style:italic;
			font-size: 42px;
			margin:0 auto;
		}
		p {
			font-style:italic;
			font-size: 26px;
			font-family: $f-primary;
		}
	}
	.p-list {
		overflow-y: scroll;
		height:6000px;
		ul {
			list-style-type: none;
			padding:20px 0;
			margin:0;	
			li {
				width:100%;
				height: 50px;
				padding:0px;
				margin:0;
				border-bottom:1px solid #ccc;
				margin-bottom: 10px;
				position: relative;
				h1 {
					display: inline-block;
					font-size: 18px;
					text-transform: uppercase;
					margin: 0 10px;
				}
				.date {
					position: absolute;
					left:0;
					font-size: 32px;
					color:rgba(#ccc, 0.5);
					//transform:translate(-50%, -15%);
				}
				p {
					float: right;
					text-align: right;
				}
			}
		}
	}
}