<div class="resume">
	<div class="page-wrap">
	    <heading class="the-man">            
	        <h1 class="title fn">Greg Sarault</h1>
	        <p class="slogan">Jack of All Trades Master of Some</p>
	    	<div class="personal-info">
	            <span class="street-address">123 Holly Rd.</span>
	            <span class="locality">Hatboro, PA 19040</span>
	            <span class="email">E-Mail:GregSarault@gmail.com</span>
	            <span class="phone">Cell: 215-720-6200</span>
	            <span class="website"><a href="http://gregsarault.com/">GregSarault.com</a></span>

				<p class="website"><a onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="resume.html">Download</a></p>	            
	        </div>
	    </heading><!-- .heading -->

	    <section>
	    	<h1>A little bit about me</h1>
	    	<p>I am husband to an amazing wife, and a dog dad to a super energetic dog. I have been a Devloper since 2013, and love what I do. I rarely get sick, and always enjoy Whiskey. I'm constantly trying to learn new thing to keep me sharp. My free time is spent with my family or just downtime at the beach.</p>
	    </section>


	    <section class="exerience">
	        <h1 class="section-heading clearfix">Experience</h1>
	        

	        <h2 class="company clearfix">Company: <a href="#" class="company-link">Bluecadet</a></h2>
	        <div class="position">
	            <p class="experence-subtitle">Position: Developer</p>
	            <h3 class="position-achivements section-subheading">Accomplishments</h3>
	            <p class="position-achivements-content">Started taking on challenges and finding solutions that work. My real talent lies in my determination and creative problem-solving. Here I have honed my development skills by learning many frameworks, and prototyping my projects very early on in the project.</p>
	            <p class="position-skills-content"></p>

		    	<p class="experence-subtitle">Responsibilities:</p>
				<ul class="position-abilities">
					<li class="position-abilities-content">Working with Designers, Project Managers, Content Strategist, and people with incredibly high standards.</li>
					<li class="position-abilities-content">Interviewing then Mentoring apprentices (Drexel Co-op)</li>
					<li class="position-abilities-content">I'm currently teaching a high school student Front-end development. 2 hours once a week. He is currently working with me on a project.</li>
					<li class="position-abilities-content">Running morning stand-up, and Scrums</li>
					<li class="position-abilities-content">Building Websites, Touchscreens applications.</li>
					<li class="position-abilities-content">Setting up in-house hardware for testing</li>
					<li class="position-abilities-content">On site installations - working with third-party A/V integrators</li>
					<li class="position-abilities-content">Lots and Lots of Documentation.</li>
				</ul>
	        </div>
	        <h2 class="company clearfix">Company: <a href="http://superfriend.ly/" class="company-link">SuperFriendly</a></h2>
	        <!-- <p class="intro">Winner of .net Magazine's Awards "Best New Agency!" of 2013</p> -->
	        <div class="position">
	            <p class="experence-subtitle">Position: Developer Apprentice</p>
	            <h3 class="position-achivements section-subheading">Accomplishments</h3>
	            <p class="position-achivements-content"> Throughout my 9 month apprenticeship, I have worked on 7 projects of all different varieties. Some of them start to finish (back-end CMS included). And some of them, I was brought on in the middle of the project. I developed a skill at Ping Pong only winning 3 out of 75+, But ending every game with a smile.</p>

		    	<p class="experence-subtitle">Responsibilities:</p>
				<ul class="position-abilities">
					<li class="position-abilities-content">Built customized websites to the highest specifications.</li>
					<li class="position-abilities-content">Worked closely with designers, Converting Photoshop and PDF images into HTML/CSS</li>
					<li class="position-abilities-content">Work to under pressure and tight deadlines.</li>
					<li class="position-abilities-content">Organize and manage multiple priorities/projects simultaneously.</li>
					<li class="position-abilities-content">Quickly fit into any existing team of developers.</li>
				</ul>
	        </div><!-- .position -->  
	    </section>    
	    <section class="projects">
	        <h1 class="section-heading">Projects I've Worked On</h1>
	        <ul class="project-list clearfix">
	            <li class="project-list-sites pixelingo"><a href="http://www.pixelingo.com/">Pixelingo</a></li>
	            <li class="project-list-sites tc"><a href="https://techcrunch.com/">TechCrunch</a></li>
	            <li class="project-list-sites carolina-painting"><a href="http://carolinapainting.com/">Carolina Painting</a></li>
	            <li class="project-list-sites bearskinrug"><a href="http://bearskinrug.co.uk/">BearSkinRun</a></li>
	            <li class="project-list-sites tbs"><a href="http://businessologyshow.biz/">The Businessology Show</a></li>
	            <li class="project-list-sites typedia"><a href="http://typedia.com/">Typedia</a></li>
	            <li class="project-list-sites newsworks"><a href="http://www.newsworks.org/">NewsWorks (Story Page)</a></li>
	            <li class="project-list-sites">Florida Humanities Council<supper>*</supper></li>
                <li class="project-list-sites"><a href="https://www.amrevmuseum.org/">Museum of the American Revolution</a></li>
                <li class="project-list-sites">Bill and Melinda Gates Foundation<supper>*</supper></li>
                <li class="project-list-sites">Please Touch Museum<supper>*</supper></li>
                <li class="project-list-sites"><a href="http://newheights.longwoodgardens.org/#/">Longwood Gardens New Heights</a></li>
                <li class="project-list-sites"><a href="https://longwoodgardens.org">Longwood Gardens</a></li>
                <li class="project-list-sites"><a href="https://www.albrightknox.org/">Albright Knox</a></li>
                <li class="project-list-sites">Gerald Ford Museum<supper>*</supper></li>
                <li class="project-list-sites"><a href="http://www.ias.edu">Institute for Advanced Study</a></li>
                <li class="project-list-sites"><a href="http://www.harukimurakami.com/">Haruki Murakami</a></li>
                <li class="project-list-sites"><a href="https://www.pafa.org/">Pennsylvania Academy of the Fine Arts</a></li>
                <li class="project-list-sites"><a href="http://oceana.org/">Oceania</a></li>
                <li class="project-list-sites"><a href="http://laphamsquarterly.org/">Lapham's Quarterly</a></li>
                <li class="project-list-sites"><a href="http://pci.upenn.edu/">Penn Center for Innovation</a></li>
                <li class="project-list-sites"><a href="https://www.fi.edu/">The Franklin Institute</a></li>
	        </ul><!-- .project-list --> 
	        <div class="legend">
	        	<p>* Kiosk Installations</p>
	        </div>
	    </section><!-- .projects -->
		
		<section class="skills clearfix">
			<h1 class="section-heading">Language's, Program's, and Practice's I've learned</h1>
			
			<ul class="all-my-skills">
				<li class="all-my-skills-content"><a href="http://www.w3.org/html/logo/">HTML5</a></li>
				<li class="all-my-skills-content"><a href="http://www.w3.org/Style/CSS/Overview.en.html">CSS/CSS3</a></li>
				<li class="all-my-skills-content">Trained in Agile</li>
				<li class="all-my-skills-content">Roadmapping projects</li>
				<li class="all-my-skills-content"><a href="https://angularjs.org/">Angular</a></li>
				<li class="all-my-skills-content">Refilling the kegs</li>
				<li class="all-my-skills-content">Starting board-game nights after work.</li>
				<li class="all-my-skills-content"><a href="http://sass-lang.com/">SASS</a></li>
				<li class="all-my-skills-content"><a href="http://us.php.net/">PHP</a></li>
				<li class="all-my-skills-content"><a href="http://jquery.com/">JavaScript(Jquery)</a></li>
				<li class="all-my-skills-content"><a href="https://www.drupal.org/">Drupal 7 &amp; 8</a></li>
				<li class="all-my-skills-content"><a href="http://wordpress.org/">WordPress</a></li>
				<li class="all-my-skills-content"><a href="https://github.com/">GitHub</a> <a href="https://github.com/diaspora/diaspora/wiki/Git-Workflow">trained in development work-flow</a></li>
				<li class="all-my-skills-content"><a href="http://www.photoshop.com/">Photoshop</a></li>
				<li class="all-my-skills-content"><a href="http://www.mamp.info/en/index.html">MAMP</a></li>
				<li class="all-my-skills-content"><a href="http://smacss.com/">SMACCS</a></li>
				<li class="all-my-skills-content"><a href="http://getbootstrap.com/2.3.2/">BootStrap</a></li>
				<li class="all-my-skills-content"><a href="http://microformats.org/wiki/benefits">Microformats</a></li>

				<li class="all-my-skills-content">Dabbled in some Three JS and 3D CSS</li>
			</ul><!-- .all-my-skills -->
		</section><!-- .skills -->
		
		<section class="education">
			<h1 class="section-heading">Education</h1>
			<h2 class="company">Lincoln Technical Institute, Philadelphia, PA</h2>
			<p class="intro">Network Communications and Information Systems with Microsoft Systems</p>
			<p class="intro">4.0 GPA, Excellent Attendance</p>
		 	<span class="date">June 2010</span>
		</section><!-- .education -->
		
	</div><!-- .page-wrap -->
</div>