<div class="resume">
	<div class="page-wrap">
	    <heading class="the-man">            
	        <h1 class="title fn">Greg Sarault</h1>
	        <p class="slogan">Jack of All Trades Master of Some</p>
	    	<div class="personal-info">
	            <span class="street-address">123 Holly Rd.</span>
	            <span class="locality">Hatboro, PA 19040</span>
	            <span class="email">E-Mail:GregSarault@gmail.com</span>
	            <span class="phone">Cell: 215-720-6200</span>
	            <span class="website"><a href="http://gregsarault.com/">GregSarault.com</a></span>

				<p class="website"><a onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="resume.html">Download</a></p>	            
	        </div>
	    </heading><!-- .heading -->


	    <section class="exerience">
	        <h1 class="section-heading clearfix">Experience</h1>
	        <h2 class="company clearfix"><a href="http://superfriend.ly/" class="company-link">SuperFriendly</a></h2>
	        <!-- <p class="intro">Winner of .net Magazine's Awards "Best New Agency!" of 2013</p> -->
	        <div class="position">
	            <p class="experence-subtitle">Position: Web-developer Apprentice</p>
	            <h3 class="position-achivements section-subheading">Accomplishments</h3>
	            <p class="position-achivements-content"> Through out my 9 month apprenticeship, I have worked on 7 projects of all different varieties, Some of them start to finish (back-end CMS included). And some of them, I was brought on in the middle of the project. I developed a skill at Ping Pong only winning 3 out of 75+, But ending every game with a smile.</p>
	            <p class="position-skills-content">Bonus: I was able to sit 1 foot away from Dan Mall.(Owner of SuperFriendly). Able to take if all of his advice and teaching's, but also to listen in every business meeting and every potential partner. And soak up all the information that I could.</p>

		    	<p class="experence-subtitle">Responsibilities:</p>
				<ul class="position-abilities">
					<li class="position-abilities-content">Built customized websites to the highest specifications.</li>
					<li class="position-abilities-content">Worked closely with designers, Converting Photoshop and PDF images into HTML/CSS</li>
					<li class="position-abilities-content">Work to under pressure and tight deadlines.</li>
					<li class="position-abilities-content">Organize and manage multiple priorities/ projects simultaneously.</li>
					<li class="position-abilities-content">Quickly fit into any existing team of developers.</li>
				</ul>
	        </div><!-- .position -->  
	        <h2 class="company clearfix"><a href="#" class="company-link">Bluecadet</a></h2>
	        <!-- <p class="intro">Winner of .net Magazine's Awards "Best New Agency!" of 2013</p> -->
	        <div class="position">
	            <p class="experence-subtitle">Developer</p>
	            <h3 class="position-achivements section-subheading">Accomplishments</h3>
	            <p class="position-achivements-content"> </p>
	            <p class="position-skills-content"></p>

		    	<p class="experence-subtitle">Responsibilities:</p>
				<ul class="position-abilities">
					<li class="position-abilities-content">Built customized websites to the highest specifications.</li>
					<li class="position-abilities-content">Worked closely with designers, Converting Photoshop images into HTML/CSS</li>
					<li class="position-abilities-content">Work to under pressure and tight deadlines.</li>
					<li class="position-abilities-content">Organize and manage multiple priorities/ projects simultaneously.</li>
					<li class="position-abilities-content">Quickly fit into any existing team of developers.</li>
				</ul>
	        </div>
	    </section>    
	    <section class="projects">
	        <h1 class="section-heading">Projects I've Worked On</h1>
	        <ul class="project-list clearfix">
	            <li class="project-list-sites pixelingo"><a href="http://www.pixelingo.com/">Pixelingo</a></li>
	            <li class="project-list-sites tc"><a href="https://techcrunch.com/">TechCrunch</a></li>
	            <li class="project-list-sites carolina-painting"><a href="http://carolinapainting.com/">Carolina Painting</a></li>
	            <li class="project-list-sites bearskinrug"><a href="http://bearskinrug.co.uk/">BearSkinRun</a></li>
	            <li class="project-list-sites tbs"><a href="http://businessologyshow.biz/">The Businessology Show</a></li>
	            <li class="project-list-sites typedia"><a href="http://typedia.com/">Typedia</a></li>
	            <li class="project-list-sites newsworks"><a href="http://www.newsworks.org/">NewsWorks (Story Page)</a></li>
	            <li>Florida Humanities Council<supper>*</supper></li>
                <li><a href="https://www.amrevmuseum.org/">Museum of the American Revolution</a></li>
                <li>Bill and Melinda Gates Foundation<supper>*</supper></li>
                <li>Please Touch Museum<supper>*</supper></li>
                <li><a href="http://newheights.longwoodgardens.org/#/">Longwood Gardens New Heights</a></li>
                <li><a href="https://longwoodgardens.org">Longwood Gardens</a></li>
                <li><a href="https://www.albrightknox.org/">Albright Knox</a></li>
                <li>Gerald Ford Museum<supper>*</supper></li>
                <li><a href="http://www.ias.edu">Institute for Advanced Study</a></li>
                <li><a href="http://www.harukimurakami.com/">Haruki Murakami</a></li>
                <li><a href="https://www.pafa.org/">Pennsylvania Academy of the Fine Arts</a></li>
                <li><a href="http://oceana.org/">Oceania</a></li>
                <li><a href="http://laphamsquarterly.org/">Lapham's Quarterly</a></li>
                <li><a href="http://pci.upenn.edu/">Penn Center for Innovation</a></li>
                <li><a href="https://www.fi.edu/">The Franklin Institute</a></li>
	        </ul><!-- .project-list --> 
	        <div class="legend">
	        	<p>* Kiosk Installations</p>
	        </div>
	    </section><!-- .projects -->
		
		<section class="skills clearfix">
			<h1 class="section-heading">Language's, Program's, and Practice's I've learned</h1>
			
			<ul class="all-my-skills">
				<li class="all-my-skills-content"><a href="http://www.w3.org/html/logo/">HTML5</a></li>
				<li class="all-my-skills-content"><a href="http://www.w3.org/Style/CSS/Overview.en.html">CSS/CSS3</a></li>
				<li class="all-my-skills-content"><a href="http://sass-lang.com/">SASS</a></li>
				<li class="all-my-skills-content"><a href="http://us.php.net/">PHP</a></li>
				<li class="all-my-skills-content"><a href="http://jquery.com/">JavaScript(Jquery)</a></li>
				<li class="all-my-skills-content"><a href="http://ellislab.com/expressionengine">Expression Engine</a></li>
				<li class="all-my-skills-content"><a href="http://wordpress.org/">WordPress</a></li>
				<li class="all-my-skills-content"><a href="https://github.com/">GitHub</a> - via terminal -<a href="https://github.com/diaspora/diaspora/wiki/Git-Workflow">(development work-flow)</a></li>
				<li class="all-my-skills-content"><a href="http://www.photoshop.com/">Photoshop</a></li>
				<li class="all-my-skills-content"><a href="http://www.mamp.info/en/index.html">MAMP</a></li>
				<li class="all-my-skills-content"><a href="https://sifterapp.com/">Sifter (issue tracking system)</a></li>
				<li class="all-my-skills-content"><a href="http://smacss.com/">SMACCS</a></li>
				<li class="all-my-skills-content"><a href="http://getbootstrap.com/2.3.2/">BootStrap</a></li>
				<li class="all-my-skills-content"><a href="http://microformats.org/wiki/benefits">Microformats</a></li>
				<li class="all-my-skills-content">Practicing building all site to work with out JavaScript. Then Enhance!!</li>
				<li class="all-my-skills-content">Religious user of <a href="http://css-tricks.com/">CSS Tricks</a> and <a href="http://stackoverflow.com/">Stackoverflow</a></li>
				<li class="all-my-skills-content">Recently dabbled in some Three JS and CSS 3D</li>
			</ul><!-- .all-my-skills -->
			<p class="all-my-skills-post">What ever else is out there I am sure I can learn it.</p>
		</section><!-- .skills -->
		
		<section class="education">
			<h1 class="section-heading">Education</h1>
			<h2 class="company">Lincoln Technical Institute, Philadelphia, PA</h2>
			<p class="intro">Network Communications and Information Systems with Microsoft Systems</p>
			<p class="intro">4.0 GPA, Excellent Attendance</p>
		 	<span class="date">June 2010</span>
		</section><!-- .education -->
		<section class="tech-skills clearfix">
			<h1 class="section-subheading">Tech Skills</h1>
			<ul class="all-my-skills">
				<li class="all-my-skills-content">Excellent soft skills required for effective customer service and support</li>
				<li class="all-my-skills-content">Examined operating system functions and computer architecture</li>
				<li class="all-my-skills-content">Hands-on PC troubleshooting, repair and maintenance</li>
				<li class="all-my-skills-content">Networking concepts: LANs, WANs, protocols, topologies, media, security and TCP/IP</li>
				<li class="all-my-skills-content">Implemented and administered DNS, WINS, DHCP, RRAS, IP Routing</li>
				<li class="all-my-skills-content">Studied security solutions (access control and auditing, authentication, encryption)</li>
				<li class="all-my-skills-content">Capable with Microsoft 2008 Office Suite applications</li>
				<li class="all-my-skills-content">Operating Systems: Mac, Windows 98, 2000, XP, Vista, Win7, 2003 Server</li>
			</ul><!-- .all-my-skills -->
		</section><!-- .tech-skills -->
	</div><!-- .page-wrap -->
</div>