<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>    
    <title>Greg Sarault</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    

    <!-- <link rel="stylesheet" media="all" href="style.css" /> -->
    
    <!-- This is the description that shows up in your google search. -->
    <meta name="description" content="Greg Sarault a Competent Front End Web Developer" />

    <!-- http://blog.javierusobiaga.com/stop-using-the-viewport-tag-until-you-know-ho -->
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />

    

    <!-- Facebook stuff -->    
    <meta property="og:title" content="Greg Sarault: Jack of all trades, Master of some!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.Gregsarault.com" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Greg Sarault" />
    <meta property="og:description" content="Greg Sarault is a competent Web Developer, Seeking New opportunities in the agency world" />
        
    <!-- Developed By Greg Sarault -->
<style>
* { margin: 0 0; padding: 0 0; }
h1,h2,h3,h4,h5,h6 { margin:0 0 1em;}
body { font-size:100%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
p, ul, ol { margin: 0 0 1em; font-size: 1em; display: block; }
ul,ol { list-style: none; margin:0 0 1em;}
a { text-decoration: none; color:#589b00;}
a:hover { color:green; border-bottom:1px solid green;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.page { background:#ccc; width:95%; }
.page-wrap { margin:0 auto; max-width:760px; padding:1em; }
.the-man { text-align: left; display: block; border-bottom: 1px solid #000; padding-bottom: 3em; margin: 0 0 2em; }
.slogan { margin: 0 0 1em;}
.title { font-size: 3em; margin-bottom: 0; }
.stree-address, .locality { display: inline-block; }
.email { display: block; }
.section-heading { font-size: 2em; background:transparent; display:block; margin-bottom:1em; }
.company { margin:0; display:inline-block; font-size: 1.5em; }
.intro { margin:0; }
.project-list li:nth-child(odd), .all-my-skills li:nth-child(odd) { float:left; width:50%; }
.project-list li:nth-child(even), .all-my-skills li:nth-child(even) { float:left; width:50%; }
.project-list-sites { display: block; padding: 0.5em 0; }
.all-my-skills-content, .position-abilities-content { margin-bottom: 0.25em; }
.tech-skills, .skills, .projects, .exerience, .education { margin-bottom: 2em; border-bottom: 1px solid #000; padding-bottom: 1em; }
</style>



</head>




<body class="page">
    <div class="page-wrap">
        <heading class="the-man">            
            <h1 class="title fn">Greg Sarault</h1>
            <p class="slogan">Jack of All Trades Master of Some</p>
        	<div class="personal-info">
                <span class="street-address">2968 Sunnycrest Rd.</span>
                <span class="locality">Willow Grove, PA 19090</span>
                <span class="email">E-Mail:GregSarault@gmail.com</span>
                <span class="phone">Cell: 215-720-6200</span>
                <span class="website"><a href="http://gregsarault.com/">GregSarault.com</a></span>
            </div>
        </heading><!-- .heading -->
    
    
	    <section class="exerience">
	        <h1 class="section-heading clearfix">Experience</h1>
	        <h2 class="company clearfix"><a href="http://superfriend.ly/" class="company-link">SuperFriendly</a></h2>
	        <p class="intro">Winner of .net Magazine's Awards "Best New Agency!" of 2013</p>
	        <div class="position">
	            <p class="experence-subtitle">Position: Web-developer Apprentice</p>
	            <h3 class="position-achivements section-subheading">Accomplishments</h3>
	            <p class="position-achivements-content"> Through out my 9 month apprenticeship, I have worked on 7 projects of all different varieties, Some of them start to finish (back-end CMS included). And some of them, I was brought on in the middle of the project. I developed a skill at Ping Pong only winning 3 out of 75+, But ending every game with a smile.</p>
	            <p class="position-skills-content">Bonus: I was able to sit 1 foot away from Dan Mall.(Owner of SuperFriendly). Able to take if all of his advice and teaching's, but also to listen in every business meeting and every potential partner. And soak up all the information that I could.</p>

		    	<p class="experence-subtitle">Responsibilities:</p>
				<ul class="position-abilities">
					<li class="position-abilities-content">Built customized websites to the highest specifications.</li>
					<li class="position-abilities-content">Worked closely with designers, Converting Photoshop and PDF images into HTML/CSS</li>
					<li class="position-abilities-content">Work to under pressure and tight deadlines.</li>
					<li class="position-abilities-content">Organize and manage multiple priorities/ projects simultaneously.</li>
					<li class="position-abilities-content">Quickly fit into any existing team of developers.</li>
				</ul>
	        </div><!-- .position -->  
	    </section>    
	    <section class="projects">
	        <h1 class="section-heading">Projects I've Worked On</h1>
	        <ul class="project-list clearfix">
	            <li class="project-list-sites pixelingo"><a href="http://www.pixelingo.com/">Pixelingo</a></li>
	            <li class="project-list-sites tc"><a href="#">Sorry Cant Say Till NOV but its good</a></li>
	            <li class="project-list-sites carolina-painting"><a href="http://carolinapainting.com/">Carolina Painting</a></li>
	            <li class="project-list-sites bearskinrug"><a href="http://bearskinrug.co.uk/">BearSkinRun</a></li>
	            <li class="project-list-sites tbs"><a href="http://businessologyshow.biz/">The Businessology Show</a></li>
	            <li class="project-list-sites typedia"><a href="http://typedia.com/">Typedia</a></li>
	            <li class="project-list-sites newsworks"><a href="http://www.newsworks.org/">NewsWorks (Story Page)</a></li>
	        </ul><!-- .project-list --> 
	    </section><!-- .projects -->
		
		<section class="skills clearfix">
			<h1 class="section-heading">Language's, Program's, and Practice's I've learned</h1>
			
			<ul class="all-my-skills">
				<li class="all-my-skills-content"><a href="http://www.w3.org/html/logo/">HTML5</a></li>
				<li class="all-my-skills-content"><a href="http://www.w3.org/Style/CSS/Overview.en.html">CSS/CSS3</a></li>
				<li class="all-my-skills-content"><a href="http://sass-lang.com/">SASS</a></li>
				<li class="all-my-skills-content"><a href="http://us.php.net/">PHP</a></li>
				<li class="all-my-skills-content"><a href="http://jquery.com/">JavaScript(Jquery)</a></li>
				<li class="all-my-skills-content"><a href="http://ellislab.com/expressionengine">Expression Engine</a></li>
				<li class="all-my-skills-content"><a href="http://wordpress.org/">WordPress</a></li>
				<li class="all-my-skills-content"><a href="https://github.com/">GitHub</a> - via terminal -<a href="https://github.com/diaspora/diaspora/wiki/Git-Workflow">(development work-flow)</a></li>
				<li class="all-my-skills-content"><a href="http://www.photoshop.com/">Photoshop</a></li>
				<li class="all-my-skills-content"><a href="http://www.mamp.info/en/index.html">MAMP</a></li>
				<li class="all-my-skills-content"><a href="https://sifterapp.com/">Sifter (issue tracking system)</a></li>
				<li class="all-my-skills-content"><a href="http://smacss.com/">SMACCS</a></li>
				<li class="all-my-skills-content"><a href="http://getbootstrap.com/2.3.2/">BootStrap</a></li>
				<li class="all-my-skills-content"><a href="http://microformats.org/wiki/benefits">Microformats</a></li>
				<li class="all-my-skills-content">Practicing building all site to work with out JavaScript. Then Enhance!!</li>
				<li class="all-my-skills-content">Religious user of <a href="http://css-tricks.com/">CSS Tricks</a> and <a href="http://stackoverflow.com/">Stackoverflow</a></li>
				<li class="all-my-skills-content">Recently dabbled in some Three JS and CSS 3D</li>
			</ul><!-- .all-my-skills -->
			<p class="all-my-skills-post">What ever else is out there I am sure I can learn it.</p>
		</section><!-- .skills -->
		
		<section class="education">
			<h1 class="section-heading">Education</h1>
			<h2 class="company">Lincoln Technical Institute, Philadelphia, PA</h2>
			<p class="intro">Network Communications and Information Systems with Microsoft Systems</p>
			<p class="intro">4.0 GPA, Excellent Attendance</p>
		 	<span class="date">June 2010</span>
		</section><!-- .education -->
		<section class="tech-skills clearfix">
			<h1 class="section-subheading">Tech Skills</h1>
			<ul class="all-my-skills">
				<li class="all-my-skills-content">Excellent soft skills required for effective customer service and support</li>
				<li class="all-my-skills-content">Examined operating system functions and computer architecture</li>
				<li class="all-my-skills-content">Hands-on PC troubleshooting, repair and maintenance</li>
				<li class="all-my-skills-content">Networking concepts: LANs, WANs, protocols, topologies, media, security and TCP/IP</li>
				<li class="all-my-skills-content">Implemented and administered DNS, WINS, DHCP, RRAS, IP Routing</li>
				<li class="all-my-skills-content">Studied security solutions (access control and auditing, authentication, encryption)</li>
				<li class="all-my-skills-content">Capable with Microsoft 2008 Office Suite applications</li>
				<li class="all-my-skills-content">Operating Systems: Mac, Windows 98, 2000, XP, Vista, Win7, 2003 Server</li>
			</ul><!-- .all-my-skills -->
		</section><!-- .tech-skills -->
	</div><!-- .page-wrap -->
    
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

</body>
</html>